<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gmail.thepiercingarrow.freemusicplayer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FreeMusicPlayer</name>
    <description>
      A Free Music Player for mobile.
    </description>
    <author email="thepiercingarrow@gmail.com" href="http://thepiercingarrow.github.io">
        Maxwell Zhao
    </author>
    <icon src="icon.png" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="ios">
        <icon height="180" src="icons/icon180.png" width="180" />
        <icon height="60" src="icons/icon60.png" width="60" />
        <icon height="120" src="icons/icon120.png" width="120" />
        <icon height="76" src="icons/icon76.png" width="76" />
        <icon height="152" src="icons/icon152.png" width="152" />
        <icon height="40" src="icons/icon40.png" width="40" />
        <icon height="80" src="icons/icon80.png" width="80" />
        <icon height="57" src="icons/icon57.png" width="57" />
        <icon height="114" src="icons/icon114.png" width="114" />
        <icon height="72" src="icons/icon72.png" width="72" />
        <icon height="144" src="icons/icon144.png" width="144" />
        <icon height="29" src="icons/icon29.png" width="29" />
        <icon height="58" src="icons/icon58.png" width="58" />
        <icon height="50" src="icons/icon50.png" width="50" />
        <icon height="100" src="icons/icon100.png" width="100" />
    </platform>
    <platform name="android">
        <splash src="splashscreen.png" />
    </platform>
    <platform name="ios">
        <splash height="480" src="splashscreens/splashscreen320x480.png" width="320" />
        <splash height="960" src="splashscreens/splashscreen640x960.png" width="640" />
        <splash height="1024" src="splashscreens/splashscreen768x1024.png" width="768" />
        <splash height="2048" src="splashscreens/splashscreen1536x2048.png" width="1536" />
	<splash height="768" src="splashscreens/splashscreen1024x768.png" width="1024" />
	<splash height="1536" src="splashscreens/splashscreen2048x1536.png" width="2048" />
        <splash height="1136" src="splashscreens/splashscreen640x1136.png" width="640" />
        <splash height="1334" src="splashscreens/splashscreen750x1334.png" width="750" />
        <splash height="2208" src="splashscreens/splashscreen1242x2208.png" width="1242" />
        <splash height="1242" src="splashscreens/splashscreen2208x1242.png" width="2208" />
    </platform>
    <hook src="scripts/copy-icons.sh" type="before_platform_add" />
    <hook src="scripts/copy-splashscreens.sh" type="before_platform_add" />
    <hook src="scripts/copy-icons.sh" type="before_prepare" />
    <hook src="scripts/copy-splashscreens.sh" type="before_prepare" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
    <preference name="iosPersistentFileLocation" value="Library" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-file" spec="~4.3.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.0" />
    <plugin name="cordova-plugin-media" spec="~2.4.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
</widget>
