body {
    padding: 0px;
}

.main-menu {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-menu div {
    border-bottom: 1px solid;
}

.main-menu div a div p {
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
    text-overflow: ellipsis;
}
