* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    padding: 50px;
}

.main-menu {
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.main-menu div {
    padding: 0px;
    margin: 0px;
}

.main-menu div.col1 {
    white-space: nowrap;
    width: 100%;
    height: 33%;
}

.main-menu div.col1 div.listen {
    left: 0px;
    top: 0px;
    height: 100%;
    width: 50%;
}

.main-menu div.col1 div.add-mp3 {
    left: 50%;
    top: 0px;
    height: 100%;
    width: 50%;
}

.main-menu div div {
    display: inline-block;
}

.main-menu div div img {
    height: 80%;
    width: 80%;
}
